.container{
    &>.row{
        width: 100%;
    }
    background-color: #fff;
    margin-top: 0.5rem;
    display: flex;
    & .search-row{
        display: flex;
        & .search-bar{
            width: 100%;
            max-width: 302px;
            & .has-search .form-control{
                padding-left: 2.375rem;
            }
            & .has-search .bi-search{
                position: absolute;
                z-index: 2;
                display: block;
                width: 2.375rem;
                height: 2.375rem;
                line-height: 2.375rem;
                text-align: center;
                pointer-events: none;
                color: #aaa;
            }
            & .has-search .btn-outline-secondary{
                margin-left: 0.5rem;
            }
        }
        
    }
    
    & .column-right{
        display: flex;
        flex-direction: column;
        & .recently-typed{
            /* margin-left: 10rem; */
            & hr{
                margin-top: 0;
                margin-bottom: 0;
                border-top: 2px solid rgba(0, 0, 0, 0.1);
            }
            & span{
                cursor: pointer;
            }
            & span:hover{
                font-weight: bold;
            }
        }
        & .more-list{
            margin-top: 40px;
            margin-bottom: 40px;
            &>button{
                width: 70%;
                background: #007bff;
                padding: 14px;
                font-size: larger;
                text-align: left;
                border-radius: 20px;
                font-weight: 600;
            }
        }
    }
    .disable-element{
        pointer-events: none;
        background-color: #e9ecef;
        opacity: 1;
    }
}

.lists-select{
    border-left: 1px dotted;
    border-right: 1px dotted;
    border-top: 1px dotted;
    padding: 0.3rem;
    background: #00BFFF;
}
.list-group-item{
    //box-shadow: 10px 10px 18px grey;
    display: flex;
    justify-content: space-between;
    & .share{
        font-style: italic;
        font-size: small;
    }
}
.list-group-item:hover{
    background: #0d6efd;
    cursor: pointer;
}
.sticky-header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    & h6{
        margin-top: 1rem;
    }
}
.full-width{
    width: 100%;
}
.bubble-btn{
    transition: transform 0.3s;
   }
   .bubble-btn:hover {
    animation: bubble 0.4s ease-out;
  }
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .toggle-modes{
    margin-bottom: 1rem;
    display: flex;
    & .custom-switch{
        padding-right: 0.5rem;
    }
  }
  .custom-control .custom-control-input{
    cursor: pointer;
  }
  .custom-control-label{
    font-size: small;
  }

