.container{
    background-color: #fff;
    margin-top: 0.5rem;
    & .bi-arrow-left{
        font-size: 25px;
        color: grey;
        margin-bottom: 10px;
        margin-left: 10px;
        cursor: pointer;
    }
    & .search-row{
        display: flex;
        & .search-bar{
            width: 60%;
            & .has-search .form-control{
                padding-left: 2.375rem;
            }
            & .has-search .bi-search{
                position: absolute;
                z-index: 2;
                display: block;
                width: 2.375rem;
                height: 2.375rem;
                line-height: 2.375rem;
                text-align: center;
                pointer-events: none;
                color: #aaa;
            }
        }
        
    }
}
.custom-list-wrapper{
    margin-bottom: 1rem;
}

