.bi-folder2, .bi-folder2-open{
    color: #46A6FF;
    font-size: 80px;
}
.word-card{
    position: relative;
    padding: 0 0.5rem;
    cursor: pointer;
}
.folder-text{
    position: absolute;
    top: 50%;
    left: 30%;
    width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: small;
    font-weight: bold;
}
.bi-check-square-fill{
    color: #FE9142;
    font-size: 20px;
}
.check{
    position: absolute;
    top: 71%;
    right: 13%;
}