<div class="card-container">
    <div class="card-container-div">
        <div class="actions">
    <div *ngIf="toggleShowHide" class="show-hide-character"> <i (click)="showHideCharacter()" class="bi bi-eye"></i>
    </div>
    <div *ngIf="!toggleShowHide" class="show-hide-character"> <i (click)="showHideCharacter()"
            class="bi bi-eye-slash"></i></div>
    <div style="margin-left: 1rem;"><button class="btn btn-primary" (click)="onCompare()">Compare</button></div>
</div>
    <div class="svg-container" id="{{'svgContainer'+ characterIndex}}">
    </div>
</div>
<div style="margin-top: 0.5rem;">
    <div class="tools">
        <div>
            <div class="reset"><i (click)="resetDrawing()" class="bi bi-x-circle"></i></div>
        </div>
    </div>
    <canvas #canvas id="canvas" width="250" height="250" (mousedown)="startDrawing($event)" (mousemove)="draw($event)"
        (mouseup)="stopDrawing()" (mouseout)="stopDrawing()" (mouseleave)="stopDrawing()" (touchstart)="startDrawing($event)"
        (touchmove)="draw($event)" (touchend)="stopDrawing()" (touchcancel)="stopDrawing()"
        (touchcancel)="stopDrawing()">
    </canvas>
</div>
</div>
