@media (max-width:991px){
    .card-container{
        display: flex;
        flex-direction: column;
        &>.card-container-div{
            margin: 0 !important;
        }
    }
}
.card-container{
    display: flex;
    &>.card-container-div{
        margin: 1rem;
    }
}
canvas {
    background: #DDEAED;
}
.svg-container {
    //position: absolute;
    // top: 0;
    // left: 0;
    //pointer-events: none; /* So that the SVG doesn't intercept mouse events */
    opacity: 0.6;
    background: #DDEAED;
}
.tools{
    display: flex;
    font-size: small;
    & div{
        padding: 0 0.5rem;
    }
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.bi-x-circle{
    font-size: large;
    cursor: pointer;
}
.bi-x-circle:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}
.bi-eye, .bi-eye-slash{
    font-size: large;
    cursor: pointer;
}
.bi-check-lg{
    font-size: x-large;
    cursor: pointer;
    border-radius: 50%;
    border: 1px;
    padding: 0.1em;
    background: greenyellow;
}
.bi-check-lg.bulged-tick {
    background: mediumseagreen;
  }
.bi-x{
    font-size: x-large;
    cursor: pointer;
    border-radius: 50%;
    border: 1px;
    padding: 0.1em;
    background: #FFBCAD;
}
.bi-x.bulged-cross {
    background: hotpink;
  }
.bi-eye:active, .bi-eye-slash:active{
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}
.actions{
    display: flex;
}