<!-- <app-modal [modalId]="'listModal'" [header]="modalHeader"></app-modal> -->
<div class="custom-list">
    <!-- <div class="sticky-header">
        <h6>Lists</h6>
        <button class="btn" data-toggle="modal" data-target="#listModal">+New List</button>
    </div> -->
    <hr>
    <div class="scrollable-body" #list>
        <ng-container *ngIf="selectedListValues && selectedListValues.length>0">
    <div *ngFor="let list of selectedListValues" class="custom-list-wrapper">
        <app-custom-list [list]="list" [listName]="listname" (moveList)="reschuffleList($event)"></app-custom-list>
    </div>
</ng-container>
</div>
</div>