<div class="custom-list">
    <hr>
    <div class="scrollable-body" #list>
        <ng-container *ngIf="isTestMode; else regular">
            <app-test-mode-list [cards]="selectedListValues" (onTestModeCharacterClick)="handleTestModeCharacterClick($event)"></app-test-mode-list>
        </ng-container>
        <ng-template #regular>
            <ng-container *ngIf="selectedListValues && selectedListValues.length>0">
                <div *ngFor="let list of selectedListValues" class="custom-list-wrapper">
                    <app-custom-list [list]="list" [listName]="listname" [nameWithSpaces]="listname"
                        (moveList)="reschuffleList($event)"></app-custom-list>
                </div>
            </ng-container>
        </ng-template>
    </div>
</div>