<app-add-card-modal [modalId]="'addCard'+nameWithoutSpaces" [listName]="nameWithoutSpaces" [nameWithSpaces]="nameWithSpaces"></app-add-card-modal>
<div class="flex-container-justify">
    <h5>{{nameWithSpaces}}</h5>
    <button class="btn" (click)="addCard()" data-toggle="modal" [attr.data-target]="'#addCard'+nameWithoutSpaces"><i class="bi bi-plus-circle"></i></button>
    
</div>

<div class="flex-container border-design">
    
<ng-container *ngFor="let l of listValues">
    <div class="custom-list-wrapper">
        <app-custom-list [list]="l" [listName]="list.nameWithoutSpaces" [nameWithSpaces]="list.nameWithSpaces"></app-custom-list>
    </div>
</ng-container>
</div>