<div class="action-buttons">
    <i (click)="back()" class="bi bi-arrow-left-circle-fill"></i>
    <div class="start-btn">
        <button type="button" class="btn btn-secondary btn-sm" (click)="onAnimate()">Start</button>
        <i class="bi bi-play-circle-fill" (click)="play()" *ngIf="!playing"></i>
        <i class="bi bi-pause-circle-fill" *ngIf="playing" (click)="pause()"></i>
    </div>
    <input type="range" id="slider-speed" min="1" max="3" [(ngModel)]="sliderVal" (ngModelChange)="onSlide()">
</div>
<div class="character-container">
    <div id="character-target-div" [ngClass]="{'hide-element': background!=='character-target-div'}"></div>
    <div [ngClass]="{'hide-element': background!=='grid-triangle'}">
        <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" id="grid-triangle">
            <line x1="0" y1="0" x2="300" y2="0" stroke="#DDD" />
            <line x1="0" y1="0" x2="0" y2="300" stroke="#DDD" />
            <line x1="0" y1="0" x2="300" y2="300" stroke="#DDD" />
            <line x1="0" y1="300" x2="300" y2="300" stroke="#DDD" />
            <line x1="300" y1="0" x2="300" y2="300" stroke="#DDD" />
            <line x1="300" y1="0" x2="0" y2="300" stroke="#DDD" />
            <line x1="150" y1="0" x2="150" y2="300" stroke="#DDD" />
            <line x1="0" y1="150" x2="300" y2="150" stroke="#DDD" />
        </svg>
    </div>
    <div [ngClass]="{'hide-element': background!=='grid-square'}">
        <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" id="grid-square">
            <line x1="0" y1="0" x2="300" y2="0" stroke="#DDD" />
            <line x1="0" y1="0" x2="0" y2="300" stroke="#DDD" />
            <line x1="0" y1="300" x2="300" y2="300" stroke="#DDD" />
            <line x1="300" y1="0" x2="300" y2="300" stroke="#DDD" />
            <line x1="0" y1="100" x2="300" y2="100" stroke="#DDD" />
            <line x1="0" y1="200" x2="300" y2="200" stroke="#DDD" />
            <line x1="100" y1="0" x2="100" y2="300" stroke="#DDD" />
            <line x1="200" y1="0" x2="200" y2="300" stroke="#DDD" />
        </svg>
    </div>
    <ng-container *ngTemplateOutlet="ref"></ng-container>
</div>
<ng-content></ng-content>
<!-- custom backgrounds -->
<ng-template #ref>
    <div class="background-container">
        <div class="wrapper">
            <div class="background">
                <a (click)="changeBackground('grid-triangle')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" id="grid-background-triangle">
                        <line x1="0" y1="0" x2="25" y2="0" stroke="#0A0A0A" />
                        <line x1="0" y1="0" x2="0" y2="25" stroke="#0A0A0A" />
                        <line x1="0" y1="0" x2="25" y2="25" stroke="#0A0A0A" />
                        <line x1="0" y1="25" x2="25" y2="25" stroke="#0A0A0A" />
                        <line x1="25" y1="0" x2="25" y2="25" stroke="#0A0A0A" />
                        <line x1="25" y1="0" x2="0" y2="25" stroke="#0A0A0A" />
                        <line x1="12.5" y1="0" x2="12.5" y2="25" stroke="#0A0A0A" />
                        <line x1="0" y1="12.5" x2="50" y2="12.5" stroke="#0A0A0A" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="wrapper">
            <div class="background" grid-square>
                <a (click)="changeBackground('grid-square')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" id="grid-background-square">
                        <line x1="0" y1="0" x2="25" y2="0" stroke="#0A0A0A" />
                        <line x1="0" y1="0" x2="0" y2="25" stroke="#0A0A0A" />
                        <line x1="0" y1="25" x2="25" y2="25" stroke="#0A0A0A" />
                        <line x1="25" y1="0" x2="25" y2="25" stroke="#0A0A0A" />
                        <line x1="0" y1="7.5" x2="25" y2="7.5" stroke="#0A0A0A" />
                        <line x1="0" y1="17.5" x2="25" y2="17.5" stroke="#0A0A0A" />
                        <line x1="7.5" y1="0" x2="7.5" y2="25" stroke="#0A0A0A" />
                        <line x1="17.5" y1="0" x2="17.5" y2="25" stroke="#0A0A0A" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</ng-template>