.display-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.character-container{
    //background-color:#00BFFF;
    width: 300px;
    margin-bottom: 1rem;
}
.action-buttons{
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    width: 300px;
    & .start-btn{
        display: flex;
    }
    & .bi-play-circle-fill,.bi-pause-circle-fill{
        font-size: 1.7rem;
        line-height: 1.7rem;
        align-self: center;
        cursor: pointer;
    }
    & .bi-arrow-left-circle-fill{
        font-size: 20px;
        cursor: pointer;
    }
}
.background{
    background-color: white;
}
.wrapper{
    border: 2px solid #0A0A0A;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    //margin-top: 1rem;
    margin-right: 1rem;
    background-color: lemonchiffon;
    cursor: pointer;
    &:hover{
        background-color: yellow;
    }
    
}
.hide-element{
    display: none;
}
.background-container{
    display: flex;
    background: white;
}

.bi-plus-square-fill{
    font-size: 25px;
    cursor: pointer;
}