// Scrollable area for folders
.tab-content-scroll {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 1rem;
}
.folders-flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
}
.words-card-container{
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
    flex-wrap: wrap;
}
.actions{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.bi-plus-lg, .bi-share-fill{
    font-size: 22px;
}
.new-folder, .share{
    padding: 0 1rem;
    margin: 0.5rem;
    cursor: pointer;
}
.nav-item{
  cursor: pointer;
}

.bubble-btn{
    transition: transform 0.3s;
   }
   .bubble-btn:hover {
    animation: bubble 0.4s ease-out;
  }
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
