<app-modal
  [modalId]="'listModal'"
  [header]="'Create'"
  [nameWithSpaces]="nameWithSpaces"
></app-modal>
<ul class="nav nav-tabs" id="tab-features" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active"
      id="link1-features-12"
      href="#tab1-features-12"
      data-toggle="tab"
      role="tab"
      aria-selected="true"
      >All Words</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link disabled"
      id="link2-features-12"
      href="#tab2-features-12"
      data-toggle="tab"
      role="tab"
      aria-selected="false"
      >Exam Prep</a
    >
  </li>
</ul>
<div class="tab-content" id="tabContent-features">
  <div
    class="tab-pane fade active show"
    id="tab1-features-12"
    role="tabpanel"
    aria-labelledby="link1-features-12"
  >
    <div class="words-card-container">
      <div class="actions">
        <button
          type="button"
          class="new-folder bubble-btn btn btn-primary"
          data-toggle="modal"
          data-target="#listModal"
        >
          Add
        </button>
        <!-- <div class="share bubble-btn">
          <i class="bi bi-share-fill"></i>
          <div class="icon-text">Share</div>
        </div> -->
      </div>
      <!------------------    Public Folder, Private Folder, Shared Folder   -->
      <ul class="nav nav-tabs" id="tab-features-folderTypes" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="selectedFolderTab === 'public'"
            (click)="selectedFolderTab = 'public'"
            >Public</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="selectedFolderTab === 'private'"
            (click)="selectedFolderTab = 'private'"
            >Private</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="selectedFolderTab === 'shared'"
            (click)="selectedFolderTab = 'shared'"
            >Shared</a
          >
        </li> -->
      </ul>
      <div class="tab-content-scroll">
        <div class="tab-content">
          <div *ngIf="selectedFolderTab === 'public'">
            <div class="folders-flex-row" *ngIf="publicWordCards?.length > 0">
              <ng-container *ngFor="let wc of publicWordCards; let i = index">
                <app-word-card
                  [word]="wc"
                  (onWordCardClick)="onHandleCardClick($event)"
                ></app-word-card>
              </ng-container>
            </div>
          </div>
          <div *ngIf="selectedFolderTab === 'private'">
            <div class="folders-flex-row" *ngIf="privateWordCards?.length > 0">
              <ng-container *ngFor="let wc of privateWordCards; let i = index">
                <app-word-card
                  [word]="wc"
                  (onWordCardClick)="onHandleCardClick($event)"
                ></app-word-card>
              </ng-container>
            </div>
          </div>
          <!-- <div *ngIf="selectedFolderTab === 'shared'">
          </div> -->
        </div>
      </div>

      <!------------------    Public Folder, Private Folder, Shared Folder   -->
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="tab2-features-12"
    role="tabpanel"
    aria-labelledby="link2-features-12"
  >
    Under Construction......
  </div>
</div>
