.multiple-cards-container{
    display: flex;
    flex-wrap: wrap;
}
canvas {
    background: #DDEAED;
    //margin-top: 1rem;
}
.tools{
    display: flex;
    font-size: small;
    & div{
        padding: 0 0.5rem;
    }
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.svg-container {
    //position: absolute;
    // top: 0;
    // left: 0;
    //pointer-events: none; /* So that the SVG doesn't intercept mouse events */
    opacity: 0.6;
    background: #DDEAED;
    width: 300px;
}
.bi-x-circle{
    font-size: large;
    cursor: pointer;
}
.bi-x-circle:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}
.bi-eye, .bi-eye-slash{
    font-size: large;
    cursor: pointer;
}
.bi-eye:active, .bi-eye-slash:active{
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}
@media (max-width:992px){
    .test-character-container{
        display: flex;
        flex-direction: column;
        &>.test-container-div{
            margin: 0 !important;
        }
    }
}

.test-character-container{
    display: flex;
    &>.test-container-div{
        margin: 1rem;
    }
}
.quiz-mode{
    display: flex;
}
.actions{
    display: flex;
}